<div class="container">
  <mat-card class="login-card">
    <mat-card-content>
      <mat-form-field>
        <mat-select required [(ngModel)]="selectedUser">
          <mat-option>-- None --</mat-option>
          <mat-option [value]="user" *ngFor="let user of users" class="user-option">
            <div class="user-image" [style.backgroundImage]="'url('+ user?.pictureUrl +')'"></div>
            <div>{{ user.fullName }}</div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field hintLabel="{{ 'Password is ' + correctPassword }}" class="password-field">
        <input matInput [(ngModel)]="password" placeholder="Password" type="password">
      </mat-form-field>
      <ikan-alert *ngIf="loginAttempted && password !== correctPassword">
        <div>
          The password is <strong>{{ correctPassword }}</strong>
        </div>
      </ikan-alert>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="login()" [disabled]="selectedUser && !password?.length">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div>
