<div class="container">
  <mat-card class="login-card">
    <mat-card-content>
      <mat-form-field>
        <mat-select required [(ngModel)]="selectedUser" placeholder="Select User">
          <mat-option [value]="user" *ngFor="let user of users" class="user-option">
            <div class="user-image" [style.backgroundImage]="'url('+ user?.pictureUrl +')'"></div>
            <div>{{ user.fullName }}</div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field hintLabel="{{ 'Password is ' + correctPassword }}" class="password-field">
        <input matInput [(ngModel)]="password" placeholder="Password" type="password" required>
      </mat-form-field>
      <ikan-alert *ngIf="loginAttempted && password !== correctPassword">
        <div>
          The password is <strong>{{ correctPassword }}</strong>
        </div>
      </ikan-alert>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="login()" [disabled]="selectedUser && !password?.length">LOGIN</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="login-card">
    <mat-card-title>New User</mat-card-title>
    <mat-card-content>
      <mat-form-field class="">
        <input matInput [(ngModel)]="newUser.firstName" placeholder="First Name" required>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput [(ngModel)]="newUser.lastName" placeholder="Last Name" required>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput [(ngModel)]="newUser.email" placeholder="Email" type="email" required>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput [(ngModel)]="newUser.pictureUrl" placeholder="Picture URL">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="addUser()">Add New User</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-content>
      {{ users | json }}
    </mat-card-content>
  </mat-card>
</div>
