.container {
  background: no-repeat center center;
  background-size: cover;
  align-items: center;
}

::ng-deep .mat-option-text {
  display: flex !important;
  align-items: center;
  .avatar-image {
    margin-right: 10px;
  }
}

.password-field {
  margin-bottom: 15px;
}
