
.menu-btn {
  display: flex;
  justify-content: center;
}

.mat-menu-item {
  display: flex;
  align-items: center;
}

.user-search {
  padding: 0 10px;
  .user-search-field {
    width: 100%;
  }
}

.user-select-options {
  max-height: 220px;
  overflow-y: auto;
}

.avatar-icon {
  margin-right: 10px;
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
