
.issue-id {
  margin-right: 15px;
}

.title-search {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  mat-form-field {
    width: 300px;
  }
}

mat-card-title {
  font-size: 16px;
  font-weight: 500;
}

.id-points, .id-points-header {
  display: flex;
  align-items: center;
  width: 120px;
}

button.selected {
  border: 3px solid #306da4 !important;
  height: auto;
  width: auto;
  padding: 2px;
}

button.unassigned-selected {
  border: 3px solid #306da4 !important;
  height: 45px;
  width: 45px;
  padding: 2px;
}

.user-button-group {
  display: flex;
  align-items: center;
}

.user-filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
