<mat-spinner color="primary" *ngIf="spinner"></mat-spinner>
<mat-toolbar class="create-header">
  <h2 mat-dialog-title>{{ data.issue ? 'Editing' : 'New'}} Issue</h2>
  <div class="fill-remaining-space"></div>
  <p>{{ issue.issueId }}</p>
  <mat-divider *ngIf="data.issue" [vertical]="true" class="vertical-divider"></mat-divider>
  <button *ngIf="data.issue" mat-icon-button [matMenuTriggerFor]="moreOptions" aria-label="More options">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #moreOptions="matMenu">
    <button mat-menu-item (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-dialog-content>

  <div class="user-title-div">
    <ikan-issue-type-menu [issueTypeId]="issue.issueTypeId"
                          (update)="setIssueType($event)"></ikan-issue-type-menu>
    <ikan-user-select [user]="issue.user"
                      (select)="selectUser($event)"></ikan-user-select>

    <div class="fill-remaining-space"></div>

    <mat-form-field class="story-points-field">
      <input matInput placeholder="Story Points" [(ngModel)]="issue.storyPoints" type="number" autocomplete="off"
             name="storyPoints">
    </mat-form-field>

  </div>

  <mat-form-field>
      <textarea matInput placeholder="Title" [(ngModel)]="issue.title" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" required cdkFocusInitial></textarea>
  </mat-form-field>

  <div class="bottom-space-10">
    <quill-editor [styles]="{minHeight: '100px'}"  placeholder="Description"
                  [(ngModel)]="issue.description" [modules]="sessionService.richTextModules"
                  [preserveWhitespace]="true"></quill-editor>
  </div>

  <div class="created-stamp muted" *ngIf="data.issue">
    <div class="created-completion-data">
      <small>
        Created <span *ngIf="issue.createdBy">by {{ issue.createdBy }}</span>
        on {{issue.createdDate | date: 'fullDate'}}
      </small>
    </div>
  </div>

  <div class="comments-container"  *ngIf="data.issue">
    <h4 class="muted">Comments</h4>
    <mat-list class="ikan-list" *ngIf="issue.comments?.length">
      <mat-list-item class="list-item" *ngFor="let comment of issue.comments; let i = index;">
        <div class="comment-list-item">
          <div class="user-input">
            <ikan-user-select [user]="comment.user" [disabled]="true"></ikan-user-select>
            <mat-form-field>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        [(ngModel)]="comment.text"
                        [readonly]="comment.user.id !== currentUser.id"></textarea>
            </mat-form-field>
            <button mat-icon-button (click)="deleteComment(i)" *ngIf="comment.user.id === currentUser.id"
                    matTooltip="Delete Comment" matTooltipPosition="above" aria-label="Delete Comment">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="comment-date">
            <small class="muted">
              <span *ngIf="comment.editedDate">(edited) {{comment.editedDate | date: 'medium'}}</span>
              <span *ngIf="!comment.editedDate">{{comment.createdDate | date: 'medium'}}</span>
            </small>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
    <div class="new-comment">
      <mat-form-field>
        <mat-label>Add comment</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                  [(ngModel)]="newCommentText" (keyup.enter)="addComment()"></textarea>
      </mat-form-field>
      <button mat-raised-button (click)="addComment()" color="accent" [disabled]="!newCommentText">COMMENT</button>
    </div>
  </div>

</mat-dialog-content>


<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="accent" (click)="saveIssue()" [disabled]="!itemIsValid()" ikanStopPropagation>
    SAVE
  </button>
</mat-dialog-actions>
