<div class="container">
  <div class="column-headers">
    <mat-toolbar *ngFor="let column of columns">
      <span class="column-name">{{ column.name }}</span>
    </mat-toolbar>

  </div>
  <div class="columns" *ngIf="columns && issuesByColumn" cdkDropListGroup>
    <div class="column" *ngFor="let column of columns"
         cdkDropList id="{{column.id}}" (cdkDropListDropped)="dropIssue($event)" [cdkDropListData]="issuesByColumn[column.id]">
      <ikan-issue cdkDrag  *ngFor="let issue of issuesByColumn[column.id]" [issue]="issue" [issueTypes]="issueTypes"
                  (update)="updateIssue($event)"></ikan-issue>
    </div>
  </div>
</div>
