<div class="container">
  <div class="column-headers">
    <mat-toolbar>
      <span>TO DO</span>
    </mat-toolbar>
    <mat-toolbar>
      <span>IN PROGRESS</span>
    </mat-toolbar>
    <mat-toolbar>
      <span>QA</span>
    </mat-toolbar>
    <mat-toolbar>
      <span>RESOLVED</span>
    </mat-toolbar>
  </div>
  <div class="columns">
    <div class="column todo-column">

    </div>
    <div class="column in-progress-column">

    </div>
    <div class="column qa-column">

    </div>
    <div class="column resolved-column">

    </div>
  </div>
</div>
