$ikan-red: #D42626;
$Ikan-blue: #85b5e1;

$white: #fff;
$black: #000;
$red: #f44336;
$orange: #ff8d3a;
$yellow: #fdd835;
$greed: #43a047;
$blue: #1E6ACA;
$background: #EBECF0;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: rgba(white, 0.87);

