// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// this is for the rich text editor
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import './colors';
@import "./utils";
@import "./mixins";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


// Create the theme object (a Sass map containing all of the palettes).
$ikan-theme: mat-light-theme($ikan-accent, $ikan-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ikan-theme);


/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &.boat-dog {
    background: url('./assets/images/jax.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

.main-content {
  padding-top: 64px;

}

.container {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  justify-content: center;
}

/* this allows the box shadow to work */
.mat-toolbar {
  background: inherit;
}

mat-list-item.active, [mat-list-item].active {
  .mat-list-item-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #306DA4;
  }
}

/* This is the "active" color showing when a tab is selected */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #fff;
}

.mat-tab-link {
  color: #fff;
}

.mat-tab-label-active {
  opacity: 1 !important;

}

.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: none;
}

.mat-progress-spinner {
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 999;
  position: absolute !important;
}


.fill-remaining-space {
  flex: 1 1 auto;
}

.logo-image {
  height: auto;
  width: auto;
  max-height: 35px;
  margin: 0 8px 0 0;
}

.ikan-chip, .ikan-accent-chip {
  cursor: pointer;
  margin: 4px;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  min-height: 32px;
  height: 1px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  font-size: 14px;
  font-weight: 500;
}

.ikan-chip {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, .87);
}

.ikan-accent-chip {
  background-color: #306DA4;
  color: rgba(255, 255, 255, .87);
}

quill-editor {
  .ql-toolbar.ql-snow {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-color: #306DA4;
  }

  .ql-container.ql-snow {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #306DA4;
  }
}


.menu-btn.avatar-image {
  margin-left: 15px;
}


.ikan-card {
  flex: 1;
  /* used to make the ellipsis stuff work */
  min-width: 0;
  /* Used to make the flexbox items grow to their own height instead of their parent's
   ***Needs to be 0% not just 0***  */
  height: 0%;
  padding: 0 !important;
  max-width: 1300px;
}

.login-card {
  margin-top: 100px;
  @media (min-width: 599px) {
    width: 500px
  }
}

.mat-card-actions {
  display: flex !important;
  justify-content: flex-end;
}

mat-form-field {
  width: 100%;
}


mat-card {
  margin: 5px;

  mat-card-header {
    padding: 16px 0 0;
  }

  mat-card-title {
    font-size: 16px;
    font-weight: 500;
  }
}

.ikan-list {
  min-height: 60px;
  display: block;
  border-radius: 4px;
  overflow: hidden;

  .mat-list-item {
    padding: 0 10px 0 5px !important;
    @media print {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      height: auto !important;
      border-bottom-color: #ddd;
    }
  }
}

.list-item {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  align-items: center;

  &:last-child {
    border: none;
  }

  .avatar-image {
    height: 30px;
    width: 30px;
  }

  button {
    color: rgba(0, 0, 0, 0.54);
  }

  &.opened, &:hover {
    background-color: #dedede;
  }

  &:hover .drag-handle {
    visibility: inherit;
  }

  &.opened::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #306DA4;
  }

  .mat-list-item-content {
    padding: 0 !important;
    font-size: 14px;
  }

  .list-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
  }

  .drag-handle {
    visibility: hidden;
    color: #ccc;
    cursor: move;
  }
}


/*  Drag and Drop Stuff */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

  mat-card {
    background-color: #e2eaf2;
  }

  & > div {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .drag-handle {
    visibility: inherit;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.ikan-list.cdk-drop-list-dragging .list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.point-chip {
  min-height: 22px !important;
  padding: 4px 7px !important;
}

.avatar-image {
  background: no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  display: block;
  height: 35px;
  width: 35px;
}

ikan-issue {
  .avatar-image {
    height: 30px;
    width: 30px;
  }

  mat-icon.avatar-image {
    background-color: #dedede;
    font-size: 26px;
  }
}

.user-image {
  background: no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  display: block;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.avatar-icon {
  font-size: 32px;
  text-align: center;
  height: 35px !important;
  width: 35px !important;
  border-radius: 50%;
  background-color: #dedede;

  ::ng-deep g {
    font-size: 35px;
    height: 35px;
    width: 35px;
  }
}


.ikan-tooltip {
  font-size: 14px;
}

.multiline-tooltip {
  white-space: pre-line;
  font-size: 12px;
}

.vertical-divider {
  height: 70%;
  margin: 0 15px !important;
}

.owner-avatar{
  width: 75px;
  display: flex;
  justify-content: center;
}

.owner-btn {
  width: 75px;
}

.rotate {
  transition: .2s;
}

.rotate-left-45 {
  transform: rotate(45deg);
}

.rotate-right-45 {
  transform: rotate(-45deg);
}

.rotate-90 {
  transform: rotateZ(-180deg);
}

.header-btns {
  height: 32px !important;
  padding: 20px 130px 0 72px !important;

  h5 {
    cursor: pointer;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 700;
    line-height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
  }

  button {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    min-width: 0;

    &:hover {
      color: $blue;
    }
  }

  .due-by-btn {
    min-width: 65px;
    margin: 0 5px;
  }

  .completed-on-btn {
    min-width: 109px;
    margin-right: 5px;
  }

  .mat-icon {
    @include md-icon-size(16px);
  }
}

@media screen and (min-width: 1280px) {
  .detail-view {
    position: fixed;
    width: 49%;
    overflow-y: auto;
    height: calc(100vh - 205px);
  }
}


.comments-container {
  background-color: #f6f6f6;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px;

  .list-item {
    cursor: auto;
    background: inherit;
    height: auto !important;
    border-bottom: none;
  }
}

.comment-list-item {
  flex-direction: column;
  width: 100%;

  .mat-input-element:disabled {
    color: inherit;
  }

  .user-input {
    display: flex;
    align-items: center;
  }

  ikan-user-select {
    margin-right: 15px;
  }

  .comment-date {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
}

.new-comment {
  margin-top: 15px;
}

.created-completion-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.created-stamp {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
}
